<head>
    <!-- CSS only -->
        <link href="/static/style.css" rel="stylesheet">
</head>
<div style="background-color:#35A7FF"><h1 style="color:white"><br/>AIHC 5010<br><br></h1></div>
<body>

<div><h2 style="color:black">Welcome to AIHC 5010 Labs.</h2></div>
<div><h2 style="color:black">To view the Week 3 segmentation leaderboard visit <a href="http://127.0.0.1:5005/leaderboard-segmentation/">http://127.0.0.1:5005/leaderboard-segmentation/</a></h2></div>
<div><h2 style="color:black">To view the Week 5 classification leaderboard visit <a href="http://127.0.0.1:5005/leaderboard-classification/">http://127.0.0.1:5005/leaderboard-classification/</a></h2></div>
<div><h2 style="color:black">To view the Week 7 multimodal learning leaderboard visit <a href="http://127.0.0.1:5005/leaderboard-multimodal/">http://127.0.0.1:5005/leaderboard-multimodal/</a></h2></div>
